In [10]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('C:/Users/dell/Desktop/ML/Houses.csv')
print(df.head(10))

   prices  sqft
0  114300  1790
1  114200  2030
2  114800  1740
3   94700  1980
4  119800  2130
5  114600  1780
6  151600  1830
7  150700  2160
8  119200  2110
9  104000  1730

In [12]:
new_df = df.drop('prices',axis='columns')
new_df

     sqft
0    1790
1    2030
2    1740
3    1980
4    2130
..    ...
123  1900
124  2160
125  2070
126  2020
127  2250

[128 rows x 1 columns]

In [13]:
price = df.prices
price

0      114300
1      114200
2      114800
3       94700
4      119800
        ...
123    119700
124    147900
125    113500
126    149900
127    124600
Name: prices, Length: 128, dtype: int64

In [14]:
reg = linear_model.LinearRegression()
reg.fit(new_df,price)

LinearRegression()

In [16]:
reg.predict([[2250]])

array([147918.08613737])