In [3]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('C:/Users/dell/Desktop/ML/house4.csv')
print(df.head(10))

   Area   Price  age  bedroom
0  2600  500000   20        3
1  3000  550000   30        2
2  3200  600000   15        3
3  3600  650000   18        2
4  4000  720000   23        2
5  2600  500000   27        1

In [7]:
new_df=df.drop(['Area','age','bedroom'],axis='columns')
new_df

    Price
0  500000
1  550000
2  600000
3  650000
4  720000
5  500000

In [9]:
reg=linear_model.LinearRegression()
reg
reg.fit(df[['age','bedroom','Area']],new_df)

LinearRegression()

In [10]:
reg.predict([[10,3,3300]])

array([[617212.16848674]])